parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/resources
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
